{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} Proveedores {% endblock %}
{% block pantalla %} Proveedores  {% endblock %}
{% block descripcion %} {% endblock %}


        {% block tema %} Proveedores  {% endblock %}




{% block content %}
<div class="card">
    <div class="card-content">
        <table class="highlight responsive-table">
        <thead>
          <tr>
              <th>Nombre</th>
              <th>Dirección</th>
              <th>Teléfono</th>
              <th>Descripción</th>
              <th style="text-align: center;" colspan="4">Acciones</th>
          </tr>
        </thead>

        <tbody>
            {% for p in proveedores %}
                <tr>
                    <td>{{ p.nombre }}</td>
                    <td>{{ p.direccion }}</td>
                    <td>{{ p.telefono }}</td>
                    <td>{{ p.descripcion }}</td>
                    <td>
                        <a href="{% url 'apiApp:pro_watch' p.id %}">
                            <i class="material-icons tooltipped" data-position="top" data-tooltip="Ver">visibility</i>
                        </a></td>
                    <td>
                      <a href="{% url 'apiApp:pro_edit' p.id %}"><i class="material-icons tooltipped"
                                                                    data-position="top"
                            data-tooltip="Editar">edit</i>
                      </a>
                    </td>
                    <td><a href="{% url 'apiApp:pro_delete' p.id %}"><i class="material-icons tooltipped"
                                                                        data-position="top" data-tooltip="Eliminar">
                        delete</i></a></td>


                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>

<div class="fixed-action-btn">
  <a href="#modalcreate" class="btn-floating btn-large btn modal-trigger amber darken-4">
    <i class="large material-icons tooltipped" data-position="top" data-tooltip="Agregar">add</i>
  </a>
</div>



<div id="modalcreate" class="modal">
    {% include "proveedor/proveedor_create.html" %}
</div>

{% endblock %}
