{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %} Cliente {% endblock %}
{% block pantalla %} Cliente  {% endblock %}
{% block descripcion %} {% endblock %}

        {% block tema %} Agregar Cliente {% endblock %}

{% block content %}
<form method="POST">{% csrf_token %}
    <div class="modal-content">
            <div class="row">
                <div class="input-field col s4">
                  <i class="material-icons prefix">contacts</i>
                  <input id="Nombre" name="Nombre" type="text" class="validate" required>
                  <label for="Nombre">Nombre</label>
                </div>
                <div class="input-field col s4">
                  <i class="material-icons prefix">contacts</i>
                  <input id="Apellido" name="Apellido" type="text" class="validate" required>
                  <label for="Apellido">Apellido</label>
                </div>
                <div class="input-field col s4">
                  <i class="material-icons prefix">star_half</i>
                  <input id="Tipo" name="Tipo" type="text" class="validate" required>
                  <label for="Tipo">Tipo</label>
                </div>
                <div class="input-field col s3">
                  <i class="material-icons prefix">phone</i>
                  <input id="Telefono" name="Telefono" type="tel" class="validate" required>
                  <label for="Telefono">Teléfono</label>
                </div>
                <div class="input-field col s5">
                  <i class="material-icons prefix">email</i>
                  <input id="Email" name="Email" type="email" class="validate" required>
                  <label for="Email">Email</label>
                </div>
                <div class="input-field col s4">
                  <i class="material-icons prefix">store</i>
                  <input id="Organizacion" name="Organizacion" type="text" class="validate" required>
                  <label for="Organizacion">Organización</label>
                </div>
                <div class="input-field col s3">
                  <i class="material-icons prefix">subtitles</i>
                  <input id="Dui" name="Dui" type="text" class="validate" required>
                  <label for="Dui">DUI</label>
                </div>
                <div class="input-field col s3">
                  <i class="material-icons prefix">subtitles</i>
                  <input id="Nit" name="Nit" type="text" class="validate" required>
                  <label for="Nit">NIT</label>
                </div>
                <div class="input-field col s6">
                  <i class="material-icons prefix">home</i>
                  <input id="Direccion" name="Direccion" type="text" class="validate" required>
                  <label for="Direccion">Dirección</label>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button class="btn waves-effect waves-light modal-close" type="submit" name="action">Agregar</button>
        <a href="{% url 'apiApp:cli_list' %}" class="btn modal-close red">cerrar</a>
    </div>
</form>
{% endblock %}
