{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %} Proveedores {% endblock %}
{% block pantalla %} Proveedores  {% endblock %}
{% block descripcion %} {% endblock %}

        {% block tema %} Materiales {% endblock %}

{% block content %}
<div class="card">
    <div class="card-content">
        <table class="highlight responsive-table">
        <thead>
          <tr>
              <th>Código</th>
              <th>Nombre</th>
              <th>Cantidad</th>
              <th>Precio</th>
              <th>Proveedor</th>
              <th style="text-align: center;" colspan="3">Acciones</th>
          </tr>
        </thead>

        <tbody>
            {% for m in materiales %}
                <tr>
                    <td>{{ m.codigo }}</td>
                    <td>{{ m.nombre }}</td>
                    <td>{{ m.cantidad }}</td>
                    <td>${{ m.precio }}</td>
                    <td>{{ m.proveedor.nombre }}</td>
                    <td>
                        <a href="{% url 'apiApp:mat_watch' m.id %}"><i class="material-icons tooltipped"
                                                               data-position="top" data-tooltip="Ver">visibility</i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'apiApp:mat_edit' m.id %}"><i class="material-icons tooltipped"
                                                                    data-position="top" data-tooltip="Editar">edit</i>
                      </a>
                    </td>
                    <td>
                        <a href="{% url 'apiApp:mat_delete' m.id %}"><i class="material-icons tooltipped"
                                                                        data-position="top" data-tooltip="Eliminar">
                        delete</i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>

<div class="fixed-action-btn">
  <a href="{% url 'apiApp:mat_create' %}"  class="btn-floating btn-large btn modal-trigger amber darken-4">
    <i class="large material-icons tooltipped" data-position="top" data-tooltip="Agregar">add</i>
  </a>
</div>
{% endblock %}