{% load i18n static staticfiles %}

{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        {% block turbolinks-cache-control %}
            <meta name="turbolinks-cache-control" content="no-cache">{% endblock %}
        <title>INSPIRARTE {% block title %}{% endblock %}</title>
        {% block favicon %}
        <link href="{% static 'material/imgs/favicon.png' %}" rel="shortcut icon">{% endblock %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% block extrahead %}{% endblock extrahead %}
    {% endblock head %}
</head>


<body class="grey lighten-4">

<div class="navbar-fixed">
    <nav class="red darken-4">
        <div class="container">
            <div class="nav-wrapper">
                <a href="index.html" class="brand-logo right">SI Inspirarte</a>
                <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large left"><i
                        class="material-icons">menu</i></a>
                {% block navbar %}
                  <ul id="slide-out" class="sidenav">
                    <li><div class="user-view">
                      <div class="background">
                        <img src="">
                      </div>
                      <a href="#user"><img class="circle" src=""></a>
                      <a href="#name"><span class="white-text name">John Doe</span></a>
                      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                    </div></li>
                    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
                    <li><a href="#!">Second Link</a></li>
                    <li><div class="divider"></div></li>
                    <li><a class="subheader">Subheader</a></li>
                    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
                  </ul>
                  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                {% endblock %}
            </div>
        </div>
    </nav>
</div>


<div class="row">
    <div class="col s12">
        <h4 class="black-text center-align">
        {% block tema %} Tema {% endblock %}
        </h4>
    </div>
</div>

<section id="main-container" class="container">
    {% block content %} Contenido {% endblock content %}
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="{% static 'js/sidenav.js' %}"></script>
<!-- <script src="{% static 'js/pickers.js'%}"></script> -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    });

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems);
  });
</script>
{% block messages %}
{% endblock messages %}
</body>

</html>